/* ROOT STYLES */

html {
  height: 100%;
  width: 100%;
}

.onLandscape {
  position: relative;
  height: 100vh;
  width: 100%;

  background: mintcream url('../../img/Components/LandscapePrevent/Mobile/brickwall.png') no-repeat center ;
  background-size: 25%;
}

:root {
  --mainaccent: #D0259E;
  --secondaccent: #9D6EC1;
  --ipbblue: #0C0B8B;
  --vokasimagenta: #EC008C;
  --glass: rgba(255, 255, 255, 0.5);
  --plastic: rgba(255, 255, 255, 0.05);
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.btn-add {
  line-height: 35px;
  display: block;
  margin: 25px;
  position:fixed;
  right:0;
  bottom:0;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px solid var(--mainaccent);
  background-color: white;
  z-index: 5000;

  transition: all .2s ease;
}

.btn-add:active {
  background-color: silver;
}

.whitespace {
  position: fixed;
  top: 0;

  height: 100%;
  width: 100%;

  background-color: white;
  z-index: 30000;
}


.shadow{
  -webkit-box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
}

.border-hksv {
  border: solid 1px var(--mainaccent);
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  display: flexbox;

}

a {
  cursor: pointer;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

.content {
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 35%;
  height: 84%;
}

.input>.hide {
  display: none;
}

.content.findkonselor {
  position: relative;
  top: 0;

  margin-top: 30%;
  height: 100%;
  width: 100%;
}

.dialog-confirm{
  position: fixed;
  bottom: 0;

  text-align: center;

  width: 100%;
  height: 10%;

  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.dialog-confirm .btn-hksv{
  background-color: white;
  margin: auto;
  margin-top: 2.5%;
  line-height: 2.5;
  height: 60%;
  width: 90%;
}

.konseling-menu {
  background-color: white;

  border-radius: 18px;

  padding: 1em 1.5em;
  position: relative;
  margin: 5% auto;
  height: 33%;
  width: 90%;
  font-size: 80%;
  font-weight: normal;
  color: var(--secondaccent);
  word-wrap: break-word;
  transition: all .2s ease;
}


.konseling-menu:active {
  color: white;
}

.konseling-menu .subtitle {
  margin-top: 5%;
}

.window.notifications {
    
  background: var(--plastic);
  backdrop-filter: blur(35px);
  overflow-y: hidden;
  position: fixed;
  border: solid 1px gray;
  border-radius:  0px 0px 50px 50px;
  bottom: 0;
  height: auto;
  width: 100%;
}

.notifications .content{
  position: relative;
  top: 0;
  height: 90%;
  margin: 0;
  padding: 0;
  border-radius:  0px 0px 50px 50px;
}

.notifications .events{
  margin: 2% auto;
  height: auto;
}

.notifications .subtitle {
  position: relative;
  top: -20%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.notifications .btn-collapse {
  position: relative;
  text-shadow: 2px 2px 6px rgba(0,0,0, 0.75);
}

.konseling-menu .banner {
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

}

.konseling-menu .btn-hksv {
  border: solid 1px var(--mainaccent);
  width: 50%;
  position: relative;
  top: 5%;
  font-size: 1.5vh;
}

.ruang-konseling .banner {
  background: url('../../img/Components/Home/Mobile/banner-ruangkonseling.svg')
            no-repeat center;
  background-size: 150%;
  background-position: left center;
}

.blogs-base {
  background-color: white;

  border-radius: 18px;

  position: relative;
  margin: 2vh auto;
  min-height: 30vh;
  max-height: auto;
  width: 95%;
}

.blogs-thumb img{
  position: absolute;
  border-radius: 18px;
  padding: .25em;
  
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blogs-thumb{
  position: absolute;
  top: 0; left: 0;
  border-radius: 18px;
  width: 100%; height: 30vh;
  z-index: 400;
}

.blogs-content-header{
  border: solid 1px var(--vokasimagenta);
  position: relative;
  top: 0; left: 0;
  border-radius: 18px;
  width: 100%; height: 30vh;
  z-index: 400;
}

.blogs-content-header .header-content{
  position: relative;
  border-radius: 18px;

  padding: .25em;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blogs-content {
  position: relative;
  height: auto;
}

.blogs-content .title{
  color: black;
  font-size: 90%;
  position: relative;
  top: 0; left: 0;
  padding: 1em;
}


.blogs-content .title{
  color: black;
  font-size: 90%;
  position: relative;
  top: 0; left: 0;
  padding: 1em;
}


.blogs-content .text{
  word-wrap: break-word;
  color: black;
  font-size: 90%;
  position: relative;
  top: 0; left: 0;
  padding: 1em;
}

.blogs-content .btn-collapse{
  word-wrap: break-word;
  color: black;
  text-align: center;
  font-size: 90%;
  position: relative;
  top: 0; left: 0;
  padding: 1em;
}

.blogs-thumb::after{
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  border-radius: 18px;
  padding: .25em .25em;
  top:0; left:0;  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--mainaccent) 100%);

  opacity: 1;
  transition: all 1s;
  -webkit-transition: all .5s;
}

.blogs-thumb:hover:after{
  opacity: 0;
}

.blogs-thumb .title{
  padding: 5% .5em;
  position: absolute;
  bottom: -10%;
  z-index: 500;
  color: white;
  font-size: 110%;
}


.blogs .banner {
  background: url('../../img/Components/Home/Mobile/banner-konselingblogs.svg')
            no-repeat center;
  background-size: 150%;
  background-position: left center;
}

.events-base {
  background-color: white;

  border-radius: 18px;

  position: relative;
  margin: 2vh auto;
  min-height: 30vh;
  max-height: auto;
  width: 90%;
}


.events-content .title{
  border-bottom: solid 1px black;
  color: black;
  font-size: 100%;
  position: relative;
  top: 0; left: 0;
  margin: 1em;
  margin-bottom: .25em;
}

.events-content .text{
  color: black;
  font-size: 100%;
  position: relative;
  top: 0; left: 0;
  
  padding: 1em;
  padding-top: 0;
}

.events-content .events-detail {
  font-weight: bold;
  font-size: 90%;
}

.events-content-header{
  position: relative;
  top: 0; left: 0;
  border-radius: 18px;
  width: 100%; height: 30vh;
  z-index: 400;
}

.events-content-header .timestamp{
  position: relative;
  top: -10%; left: 0;
  padding-right: 1em;
  width: 100%; height: 30vh;
  border-radius: 18px;

  text-align: right;
  color: white;
  z-index: 400;
}


.events-content-header .header-content{
  position: relative;
  border-radius: 18px;


  padding: .25em;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.events-content-header::after{
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  border-radius: 18px;
  padding: .25em .25em;
  top:0; left:0;  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, var(--mainaccent) 100%);

  opacity: 1;
  transition: all 1s;
  -webkit-transition: all .5s;
}

.events-today {

  position: absolute;
  top: 0;
  right: 0;
}

.events-today .description{
  font-size: 100%;
  font-weight: bold;
}

.events-today .number{
  font-weight: bold;
  font-size: 350%;
}

/* ADMIN TOOLS */

.admin-tools-menu{
  display: block;
  background-color: white;
  position: relative;
  border-radius: 19px;
  margin: 5% auto;
  height: 10%;
  width: 90%;
  transition: all .2s ease;
}

.admin-tools-menu.request{
  display: block;
  background-color: white;
  position: relative;
  border-radius: 19px;
  margin: 5% auto;
  height: 15%;
  width: 90%;
  transition: all .2s ease;
}

.admin-tools-menu .text {
  position: relative;
  padding: 5%;
  width: 100%!important;
  text-align: center;
}

.admin-tools-menu:active, 
.admin-tools-menu .text:active{
  color: white;
}
.admin-tools-menu:active {
  background-color: var(--mainaccent) ;
}
.admin-tools-menu .btn-hksv{
  border: solid 1px var(--mainaccent);
  transition: none;
}

.admin-tools-managestaff{
  display: block;
  background-color: white;
  position: relative;
  border-radius: 19px;
  margin: 5% auto;
  height: 10%;
  width: 90%;
  transition: all .2s ease;
}

.admin-tools-managestaff .text {
  position: relative;
  padding: 5%;
  width: 100%!important;
  text-align: center;
}




.masalah{
  
  display: block;
  position: relative;
  border-radius: 19px;
  margin: 0 auto;
  height: 10%;
  width: 90%;
}

.masalah .check-hksv{

  position: relative;
  top: -75%;
  right: -80%;
  width: 5%;
  font-size: 1.5vh;
  line-height: 2;
   
  border: solid 1px var(--mainaccent);
  border-radius: 9px;
  padding: 2%;
  display: inline;

  text-align: center;
  transition: all .3s ease; 

}


.masalah .text{
  color: var(--secondaccent);
  font-size: 90%;
  font-weight: bold;
  position: relative;
  top: 0;
  padding: 5%;
  padding-top: 5%;
  width: 60%;
  word-wrap: break-word;
  height: 100%;
}

.admin-tools-menu .btn-hksv{
  height: 40%;
  width: 30%;
}

/* SIGNIN */

.signin-form {
  position: relative;
  top: 40px;
  left: 0;
  width: 80%;
  margin: 0 10%;
}

.signin-form .lupa {
    position: relative;
    top: 10px;
    right: 0;

    color: white;
}

.signin-form .lupa:focus {
  color: var(--ipbblue);
}


.signin-billboard {
  position: relative;
  top: 50px;
  left: 0%;
  width: 80%;

  margin: 0 auto;

  text-align: center;
  color: white;
}

.signin-billboard .title{
  font-size: 150%;
  font-weight: bold;
}

.signin-banner {
  background: white url(../../img/konseling-banner.png) no-repeat center;
  background-size: 90%;

  position: relative;
  top: 150px;
  left: 0;

  width: 80%;
  height: 100px;

  margin: 0 10%;

  border-radius: 20px;
}

#requestform .content {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  margin-top: 25%;
}

.content .requestform {
  position: relative;
  top: 0;
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5% auto;
  border-radius: 15px;
}



.forms .topicon-right {
  position: absolute;
  margin-top: 0;
  top: 20px;
  
}

.requestform .title{
  position: relative;
  top: 0;
  left: 0;
  line-height: 1;
  text-align: center;
  color: var(--secondaccent);
  font-weight: 300;
  padding: 5%;
  
}

.requestform.btn-hksv{
  position: relative;
  top: -35%; left: 0;
  margin: 0 auto;
  height: 5vh;
  width: 85%;
  line-height: 3;
  font-size: 80%;

  border: solid 1px var(--vokasimagenta);
  background-color: var(--mainaccent);
  color: white;
}

.requestform.btn-hksv:hover{
  border: solid 1px var(--mainaccent);
  background-color: white;
  color: var(--mainaccent);
}

.requestform .help{
  position: relative;
  top: 0; left: 6%;
  color: var(--mainaccent);
}

textarea.requestform-input,
select.form-control {
  position: relative;
  top: 0; left: 5%;
  margin: 0 auto;
  padding: 2.5%;
  font-size: 80%;

  height: 50%;
  width: 90%;
  background: white;
  border: solid 1px var(--mainaccent);
  color: black;
  border-radius: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

textarea.requestform-input::placeholder {
  border: none;
  color: black;
  opacity: .5;
  outline: none;
}

textarea.requestform-input:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}


/* BACKGROUNDS COLLECTION PART */

.bg-top {
/* Rectangle 16 */
  position: absolute;
  width: 100vw;
  height: 25%;
  left: 0;
  top: 0;

  background: linear-gradient(180deg, var(--secondaccent) 0%, var(--mainaccent) 100%);
  border-radius: 0px 0px 44px 44px;
  z-index: -9000;
}

.bg-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(180deg, var(--secondaccent) 0%, var(--mainaccent) 100%);
  z-index: -9000;
}

/* TOP NAVIGATION PART */

.title {
  font-size: 110%;
  font-weight: bold;
}

.subtitle {
  font-size: 80%;
  font-weight: normal;
}

.topnav{
  height: 10vh;
  width: 100vw;
  color: white;
  position: absolute;
  z-index: -6250;
}

.topelements{
  height: 10vh;
  width: 100vw;
  color: white;
  position: absolute;
  z-index: -6260;
}

.topnav .text {
  text-align: center;
  position: relative;
  margin: 15% auto;
}

.topnav .searchbar {
  background-color: white;
  color: black;
  padding: 1.5vh 5vw;
  border-radius: 500px;
  width: 170%;
  margin-left: -35%;
  position: relative;
  left: 0; top: 0;
}

.blogs.searchbar {
  background-color: white;
  color: black;
  padding: 1.5vh 5vw;
  border-radius: 500px;
  width: 70%;
  margin: 5vh 15%;
  position: relative;
  left: 0; top: 0;
}

input[type="text"].searchbar, 
input[type="text"].searchbar:focus{
  border: none;
  color: black;
  background-color: white;
}

.topicon-left{
  color: white;
  text-align: center;
  position: absolute;
  left: 6%;
  top: 30%;
  
}

.topicon-right{
  color: white;
  text-align: center;
  position: absolute;
  right: 4%;
  top: 30%;
}

.topicon-right.new{
  right: 4%;
}

.topicon-right::after{
  position: relative;
  content: "     ";
  left: -30%;
  white-space: pre;
  font-size: 50%;
}

.topicon-right.new::after{
  position: relative;
  content: "    ";
  left: -20%;
  white-space: pre;
  font-size: 50%;
  background-color: red;
  border: solid 1px white;
  border-radius: 50%;
}

.topicon-right:active{
  color: white;
}

/* SIDE NAVIGATION PART */

.side-nav{
  background-color: var(--glass);
  backdrop-filter: blur(15px);
  border-radius: 0px 44px 44px 0px;
  position: fixed;
  width: 80%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 6000;
}


.overlay{
  position: absolute;
  background-color: gray;
  opacity: 0;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -6500;
}

.side-nav .header{
  display: table;
  height: 30%;
  width: 100%;
}

.header .profile{
  font-size: 95%;
  text-align: center;

  display: table-cell;
  vertical-align: middle;
}

.profile .name, .profile .role{
  font-weight: bolder;
}

.btn-hksv{

  position: relative;
  left: 0;
  top: 10%;
  border-radius: 9px;
  padding: 1% 10%;
  border: solid 1px var(--mainaccent);
  text-align: center;
  transition: all .2s ease;

}

.btn-hksv:focus{

  background-color: var(--mainaccent);
  color: white;
  border: solid 1px white;
  
}

.check-hksv{

  position: relative;
  top: -65%;
  right: -80%;
  height: 50%;
  width: 20%;
  font-size: 1.5vh;
  line-height: 2;
   
  border: solid 1px var(--mainaccent);
  border-radius: 9px;
  padding: 5%;
  display: inline;

  text-align: center;
  transition: all .3s ease; 

}

input[type=checkbox]:checked + label {
  background-color: var(--mainaccent);
  color: white;
  border: solid 1px white;
  
}


.signout{
  text-align: center;
  line-height: 6;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;

  vertical-align: middle;

  z-index: -5000;
}

.menu{
  font-size: 2.5vh;
  padding: .5em 1.5em;
  cursor: pointer;
}

ul {
  margin: 0;
}

.submenu{
  font-size: 2.5vh;
  padding: .5em 1.5em;
  cursor: pointer;
  border-left: solid 5px var(--mainaccent);
  width: 100%;
  font-weight: bold;
}

.menu:hover{
  font-weight: bold;
}

.btn-signin{

  width: 50%;
  height: 20%;

  position: relative;
  top: 45%;
  margin: auto;

  font-size: 3vw;
  line-height: 6vh;
  text-align: center;
  font-weight: lighter;

  background: linear-gradient(90deg, #9D6EC1 0%, #D0279F 100%);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
  border-radius: 168px;
  
}

.active-sub{
  background: linear-gradient(90deg, #D0279F 0%, #FFFFFF 100%);
  border: none;
  color: white;
  font-weight: bold;
}

.active{
  font-weight: bold;
}

.img-focus{
  position: fixed;
  height: 100%;
  width: 100%;

  background-color: black;

  z-index: 29000;
}

.img-focus .btn-dismiss{
  padding: 5%;
  position: absolute;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  right: 2vw; top: 2vw;
  z-index: 29001;
}

.img-focus img{
  position: relative;

  object-fit: contain;

  height: 100%;
  width: 100%;
  z-index: 29000;
  transition: all .4s ease;
}

img#img-object:active{
  pointer-events: none;
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

/* VUE TRANSITIONS */

.fa {
  transition: all .2s ease;
}

.fade-enter-active, .fade-leave-active {
  transition: all .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(-30%);
  height: 10px;
}

.open-enter-active, .open-leave-active {
  transition: all .5s ease;
}
.open-enter, .open-leave-to {
  opacity: 0;
}

.flip-enter-active, .flip-leave-active {
  transition: all .5s ease;
}
.flip-enter, .flip-leave-to {
  transform: scale(0);
}


.topright-enter-active, .topright-leave-active {
  transition: all .4s;
}
.topright-enter, .topright-leave-to {
  opacity: 0;
  transform: translateX(10%);
}

.slider-enter-active, .slider-leave-active {
  transition: all .4s;
}
.slider-enter, .slider-leave-to {
  opacity: 0;
  transform: translatex(-300%);
  border-radius: 0;
}

.slideup-enter-active, .slideup-leave-active {
  transition: all .5s;
}
.slideup-enter, .slideup-leave-to {
  transform: translateY(-200%);
}

.slidedown-enter-active, .slidedown-leave-active {
  transition: all .5s;
}
.slidedown-enter, .slidedown-leave-to {
  transform: translateY(200%);
}

.state-enter-active, .state-leave-active {
  transition: all .4s ease;
  transition-delay: .1s;
}
.state-enter, .state-leave-to {
  transform: translateY(+100vh);
}

.droptop-enter-active, .droptop-leave-active {
  transition: all .4s ease;
  transition-delay: .1s;
}
.droptop-enter, .droptop-leave-to {
  transform: translateY(-100vh);
}


/* SPINNER ANIMATIONS */


.loading-handler {
  background-color: var(--glass);
  backdrop-filter: blur(15px);

  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 20000;
}

.loading-handler-text {
  position: relative;
  top: -20px;
  left: -20px;
  color: white;
  z-index: 20000;
}

.overlay-dark {
  background-color: rgba(0,0,0, .5);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 19999;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100%;
  margin: auto;
  z-index: 20000;
}
.lds-ellipsis div {
  position: absolute;
  top: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: -4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: -4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 32px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(16px, 0);
  }
}



/* ADDITIONAL BOOTSTRAP MODIFICATIONS */
.tinyeditor {
  height: 35%;
}

.editevent-item-focused {
  transition: all .2s ease;
  border: 2px solid var(--mainaccent);
}

label {
  margin: 0;
  font-size: 90%;
  color: #fff;
  
}

select option:hover {
  background: var(--mainaccent);
  color: #fff;
}

input[type="text"].textform:disabled {
  border: none;
  background-color: none;
  color: #000;
}

input[type="text"].textform,
textarea.textform,
select.form-control {
  background: white;
  color: black;
  border: 1px solid var(--mainaccent);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  transition: all .2s ease;
}

input[type="text"]:focus.textform,
textarea:focus.textform,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: black;
  border: 2px solid var(--mainaccent);
}

input[type="text"],
input[type="password"],
select.form-control {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #fff;
  opacity: .5;
}

input[type="text"]:focus,
input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  outline: none;
  color: white;
  border-bottom: 3px solid #ffffff;
}

@media (min-width: 320px) {

  
  .konseling-menu {
    border-radius: 18px;
  
    padding: 1em 1.5em;
    position: relative;
    margin: 5% auto;
    height: 33%;
    width: 90%;
  }

  .beasiswa {
    height: 75%;
    width: 90%;
    border-radius: 10px;
  }

  .beasiswa .info{
    width: 100%;
    height: 100%;
    position: relative;
    margin:auto;
    text-align: center;
    line-height: 25;
  }
  
  
  .konseling-menu .text {
    font-size: 1.8vh;
    width: 60%;
  }
  
  .konseling-menu .subtitle {
    margin-top: 5%;
  }
  


  .konseling-menu .banner {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  
  }
  
  .ruang-konseling .btn-hksv {
    position: relative;
    bottom: 0;
    height: 20%;
    width: 45%;
    font-size: 1.5vh;
    line-height: 2;

  }
  
  .ruang-konseling .banner {
    background-size: 150%;
    background-position: left center;
  }
  
  .blogs .banner {
    background-size: 150%;
    background-position: left center;
  }

  .blogs .btn-hksv {
    position: relative;
    bottom: 0;
    height: 20%;
    width: 45%;
    font-size: 1.5vh;
    line-height: 2.5;

    margin-top: 12%;
  }

  .events {
    height: 15%;
    border: solid 1px var(--mainaccent);
    transition: all .2s ease;
  }

  .konseling-menu:active {
    background-color: var(--mainaccent);
    color: white;
  }
  

  .events .text {
    height: 50%;
  }


  
  .events-today .description{
    font-size: 100%;
  }
  
  .events-today .number{
    font-size: 350%;
  }

  /* ADMIN TOOLS */

  .admin-tools-menu .text{
    color: var(--secondaccent);
    font-size: 90%;
    font-weight: bold;
    position: relative;
    top: 0;
    width: 60%;
    word-wrap: break-word;
    height: 100%;
  }

  .admin-tools-menu .btn-hksv{
    position: absolute;
    top: 30%;
    margin-left: 65%;
  }
  
  /* SIGNIN */
  
  .signin-form {
    position: relative;
    top: 5%;
    left: 0;
    width: 80%;
    margin: 0 10%;
  }


  .signin-billboard {
    position: relative;
    top: 0%;
    left: 0%;
    width: 80%;
  
    margin: 0 auto;
  }
  
  .signin-billboard .title{
    font-size: 100%;
  }
  
  .signin-banner {
  
    background-size: 75%;
    position: relative;
    top: 90%;
    left: 0;
  
    width: 50%;
    height: 50px;
  
    margin: 0 auto;
  
    border-radius: 5px;
  }


  .signin-banner .power {
    position: relative;
    top: -25px;
  }
  
  /* TOP NAVIGATION PART */
  
  .title {
    font-size: 110%;
  }
  
  .subtitle {
    font-size: 80%;
  }
  
  .topnav{
    height: 10vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topnav .text {
    margin: 15% auto;
  }
  
  .topicon-left{
    position: absolute;
    left: 6%;
    top: 30%;
    
  }
  
  .topicon-right{
    position: absolute;
    right: 6%;
    top: 30%;
  }

  /* SIDE NAVIGATION PART */
  
  .side-nav{
    border-radius: 0px 44px 44px 0px;

    position: fixed;
    width: 80%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .side-nav .header{
    height: 30%;
  }
  
  .header .profile{
    font-size: 95%;
  }

  .btn-hksv{
    position: relative;
    padding: 1% 10%;
  }
  
  .signout{
    line-height: 6;

    height: 15%;
    width: 100%;

    position: absolute;
    bottom: 0;
  }
  
  .menu{
    font-size: 2.5vh;
    padding: .5em 1.5em;
  }
    
  .submenu{
    font-size: 2.5vh;
    padding: .5em 1.5em;
  }
  
  .btn-signin{
  
    width: 50%;
    height: 20%;
  
    position: relative;
    top: 45%;
    margin: auto;
  
    font-size: 3vw;
    line-height: 6vh;    
  }


  /* CHATROOM STYLES */
  .window{
    position: absolute;
    left: 0;
    top: 0;
    
    background: linear-gradient(180deg, var(--secondaccent) 0%, var(--mainaccent) 100%);
  
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .dialog {
    position: fixed;
    top: 25%;
    margin: 0 10%;

    width: 100%;

    z-index: 20000;
  }

  .confirm{
    position: relative;
    background-color: white;
    border-radius: 25px;

    padding: 5%;
    text-align: center;

    font-size: 90%;

    width: 80%;
    height: 250px;
    z-index: 20000;

  }

  .sessiondetail{
    position: relative;
    background-color: white;
    border-radius: 25px;

    padding: 5%;
    text-align: center;

    font-size: 90%;

    width: 80%;
    height: auto;
    z-index: 20000;

  }

  .confirm .prompt{
    position: relative;
    top: 45%;
    font-size: 100%;

    text-align: center;
  }

  .btn-hksv.btn-confirm{
    height: 35px;
    color: white;
    background-color: var(--mainaccent);
  }
  .btn-hksv.btn-confirm:active{
    color: var(--mainaccent);
    background-color: white;
  }

  .btn-hksv.btn-dismiss{
    height: 35px;
    color: var(--mainaccent);
    background-color: white;
  }
  .btn-hksv.btn-dismiss:active{
    color: white;
    background-color: var(--mainaccent);
  }

  .window .topnav.chatroom{
    background-color: var(--secondaccent);
    height: 75px;
    z-index: 1000;
  }

  .topnav.forms{
    height: 10vh;
    width: 100vw;
    color: white;
    position: absolute;
    z-index: -6250;
  }

  
  .topnav.forms .text {
    text-align: center;
    position: relative;
    margin: 15% auto;
  }

  .window .options{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 75px;
    z-index: 500;

    text-align: center;

    width: 100%;
    height: 14%;

    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }

  #nav .options{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 10%;
    z-index: 25000;

    text-align: center;

    width: 100%;
    height: 14%;

  }

  .options .end-session{
    font-size: 80%;
    background-color: salmon;
    color: white;
    width: 75%;
    padding: 2% 0;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 15px 15px 0 0;
  }

  .options .share-object{
    font-size: 80%;
    background-color: salmon;
    color: white;
    width: 75%;
    padding: 2% 0;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 15px;
  }

  .options .add-konselor{
    font-size: 80%;
    background-color: white;
    color: black;
    width: 75%;
    padding: 2% 0;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
  }

  .window .text{
    position: relative;
    top: 0;
    width: 50%;
    margin: 3% auto;
  }

  .window .messages{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10%;

    background-color: rgba(255, 255, 255, 0.5);

    width: 100%;
    height: 85%;

    display: inline-flexbox;
    padding: 2%;

    overflow-y: scroll;
  }

  /* AUDIO PLAYER STYLES */

  .sender audio{
    filter: invert(100%);
  }

  audio:focus {
    outline: none;
  }

  audio::-webkit-media-controls-panel {
    -webkit-justify-content: center;
    justify-content: center;
  }

  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display{
    display: none;
  }

  audio::-webkit-media-controls-enclosure{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
  }


  .window .input {
    position: sticky;
    top: 92%;
    left: 0;
    width: 100%;
    height: 57px;
    margin: 0 auto;

    
    background-color: var(--mainaccent);
  }

  .input.imagePreview {
    height: 250px;
    
  }

  .window .btn-send{
    background-color: white;
    color: var(--secondaccent);
    border-radius: 50%;

    position: absolute;
    bottom: 12.5%;
    left: 85%;

    margin-top: 2%;

    font-size: 100%;
    text-align: center;

    padding-top: 2%;
    
    width: 10vw;
    height: 10vw;
    transition: all .2s;
  }

  
  img#previewTarget{
    position: relative; 
    width: 80%; height: 100%; 
    background-color: white; 
    padding: 2%; 
    object-fit: contain;
  }  

  .btn-send:active, .btn-dismiss:active, .btn-attach:active{
    color: black;
  }

  .window .btn-dismiss{
    background-color: white;
    color: var(--secondaccent);
    border-radius: 50%;

    position: absolute;
    top: 0%;
    left: 85%;

    margin-top: 15%;

    font-size: 100%;
    text-align: center;

    padding-top: 2%;
    
    width: 10vw;
    height: 10vw;
    transition: all .2s;
  }

  .window .btn-attach{
    background-color: white;
    color: var(--secondaccent);
    border-radius: 50%;

    position: absolute;
    top: 0%;
    left: 72%;

    margin-top: 3%;

    font-size: 95%;
    text-align: center;

    padding: 2%;
    
    width: 8vw;
    height: 8vw;
  }

  .messages .recipient{
    position: relative;
    top: 0;
    left: 0;

    display: flexbox;
    clear: left;

    padding: 3% 3% 0 3%;
    margin-top: 2%;
    margin-right: auto;

    min-height: 5vh;
    height: auto;

    min-width: 35%;
    width: fit-content;
    max-width: 75%;
    
    word-wrap: break-word;

    font-size: 85%;
    
    background-color: white;
    border-left: solid 2vw var(--secondaccent);
    border-radius: 0 15px 15px 15px;
  }

  .timestamp{
    font-size: 75%;
    position: relative;
  }

  .recipient .timestamp{
    text-align: right;
    margin-left: auto;
  }

  .messages img {
    position: relative;
    height: 20vh;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.2);
  }

  .messages .sender{
    position: relative;
    top: 0;
    right: 0;

    display: table;
    clear: right;

    padding: 3%;
    margin-top: 2%;
    margin-left: auto;

    min-height: 5vh;
    height: auto;

    min-width: 35%;
    max-width: 75%;
    
    word-wrap: break-word;

    font-size: 85%;
    color: white;

    background-color: var(--secondaccent);
    border-right: solid 2vw white;
    border-radius: 15px 0 15px 15px;
  }

  .requestform .btn-hksv{
    position: relative;
    top: 0;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 50vw;
  }

  textarea.chat-text,
  select.form-control {
    position: relative;
    top: 0;
    left: 0;
    margin: 2%;

    height: 70%;
    width: 80%;
    padding: 2% 15% 0% 5%;
    background: white;
    color: black;
    border-radius: 500px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  textarea.chat-text::placeholder {
    border: none;
    color: black;
    opacity: .5;
    outline: none;
  }

  textarea.chat-text:focus,
  select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
  }


  
   
  /* ADDITIONAL BOOTSTRAP MODIFICATIONS | FOR SIGNIN */
  
  label {
    margin: 0;
    font-size: 90%;
    
  }


}

@media (min-width: 640px) {

  .admin-tools-menu .text{
    color: var(--secondaccent);
    font-size: 95%;
    font-weight: bold;
    position: relative;
    top: 0;
    padding: 5%;
    padding-top: 13%;
    width: 60%;
    word-wrap: break-word;
    height: 100%;
  }

}

@media (min-width: 768px) {

  .side-nav{
    width: 50%;
  }

  .side-nav .header{
    font-size: 125%;
  }

  
.menu{
  font-size: 2vh;
  padding: .5em 1.5em;
  cursor: pointer;
}


.submenu{
  font-size: 2vh;
  padding: .5em 1.5em;
  cursor: pointer;
  border-left: solid 5px var(--mainaccent);
  width: 100%;
  font-weight: bold;
}

  .topicon-left{
    position: absolute;
    left: 6%;
    top: 30%;
    font-size: 175%;
    
  }
  
  .topicon-right{
    position: absolute;
    right: 6%;
    top: 30%;
    font-size: 175%;
  }

  .topnav .text {
    font-size: 2.5vh;
  }

  .konseling-menu .text {
    font-size: 2vh;
    color: var(--secondaccent);
    width: 60%;
  }

  .blogs .btn-hksv{
    margin-top: 13%;
  }
  
}

